*{
    margin: 0;
    box-sizing: border-box;
}

header{
    .navbar-collapse{
        flex-grow: .95;
    }
    .navbar-nav{
        width: 35%;
        justify-content: space-between;
    }
}
#list-entreprises, #list-employes{
    ul{
        line-height: 60px;
    }
}
#add-entreprise, #add-employee{
    form{
        line-height: 34px;
    }
}

#detail-commentaire{
    border: #2c3e50 solid 1px;
    border-radius: 10px;
    max-width: 640px;

    #autor-container{
        max-width: 100%;
        border-bottom: 0.0625rem dotted #e0e0e0 ;
        background-color: rgba(0,0,0,.03);
    }
}

#commentaire{
    form{
        display: flex;
        flex-direction: column;
        gap: 15px;
        & ul{
            padding: 0px;
            & li{
                list-style: none;
                color: red;
            }
        }
    }

    padding: 30px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-radius: 15px;
    & #commentaire_note{
        width: 65px;
    }
}

